<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<body>
<nav th:fragment="paginator">
    <ul class="pagination">
        <li class="page-item" th:class="${page.first ? 'page-item disabled' : 'page-item'}">
            <span class="page-link" th:if="${page.first}" th:text="#{text.paginator.first}">primera</span>
            <a class="page-link" th:if="${!page.first}" th:href="@{${page.url}(page=0)}" th:text="#{text.paginator.first}">primera</a>
        </li>
        <li class="page-item" th:class="${!page.hasPrevious ? 'page-item disabled' : 'page-item'}">
            <span class="page-link" th:if="${!page.hasPrevious}" th:utext="#{text.paginator.previous}">&laquo;</span>
            <a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.paginaActual-2})}" th:utext="#{text.paginator.previous}">&laquo;</a>
        </li>
        <li class="page-item" th:class="${pagina.actual ? 'page-item active' : 'page-item'}" th:each="pagina: ${page.paginas}">
            <span class="page-link" th:if="${pagina.actual}" th:text="${pagina.numero}"></span>
            <a class="page-link" th:if="${!pagina.actual}" th:href="@{${page.url}(page=${pagina.numero-1})}" th:text="${pagina.numero}"></a>
        </li>
        <li class="page-item" th:class="${!page.hasNext ? 'page-item disabled' : 'page-item'}">
            <span class="page-link" th:if="${!page.hasNext}" th:utext="#{text.paginator.next}">&raquo;</span>
            <a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual})}" th:utext="#{text.paginator.next}">&raquo;</a>
        </li>
        <li class="page-item" th:class="${page.last ? 'page-item disabled' : 'page-item'}">
            <span class="page-link" th:if="${page.last}" th:text="#{text.paginator.last}">ultima</span>
            <a class="page-link" th:if="${!page.last}" th:href="@{${page.url}(page=${page.totalPaginas-1})}" th:text="#{text.paginator.last}">ultima</a>
        </li>
    </ul>
</nav>
</body>
</html>